.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    background-color: #FFFFFF;
    gap: 14px;
}

.areaNumber{
    display: flex;
    gap: 16px;
}