.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numbers{
    display: flex;
    justify-content: center;
    margin: 40px 0 22px 0;
}

.areaKey{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    padding: 8px;
    margin-bottom: 22px;
    background-color: #01141E;
    border-radius: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonMain{
    display: flex;
    flex-direction: column;
    gap: 18px;
}