html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system;
  background-color: #1E90AB;
}

* {
  box-sizing: border-box;
}


/* Rounded sliders */
.round {
  border-radius: 34px;
}

.round:before {
  border-radius: 50%;
}