.container {
  min-height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggleButtonArea{
  display: flex;
  margin-top: 40px;
  gap: 10px;
}


@media (max-width: 600px) {
  
}

